body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

section{
    margin: 0;
    padding: 0;
    min-height: 92vh;
    display: none;
    background-color: whitesmoke;

}

footer{
    height: 150px;
    width: 100vw;
    background-color: grey;
}

h1{
    padding: 0;

}

.fillerspace{
    height: 8vh;
}



/* NAV STYLING START */

nav{
    margin-top: 14px;
    display: block;
}

ul{
    display: flex;
    justify-content: space-around;
}

header{
    height: 8vh;
    width: 100vw;
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: .5s;
    position: fixed;
    filter: drop-shadow(2px 2px 7px);
    z-index: 3;
}


a{
    color: black;
    font-size: larger; 
    border-radius: 7px;
    filter: drop-shadow(black 1px 3px 2px);
    transition: .4s;
}

a:visited{
    color: black;
}

/* NAV STYLING END */


/* FORM STYLING */


form{
    margin: 10vw;
    width: 80vw;
}

input{
    width: 100%;
    display: block;
}

label{
    margin-top:10px;
}

/* FORM STYLE END */


/* ABOUT STYLING */

